<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/template.css') }}">
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="{{ url_for('static', filename="js/AutoComplete.js") }}"></script>

    <title>Movie Lookup</title>
</head>
<body>
    <h1>Movie Search</h1>
        <!--<input id="search" type=submit value=Search>

        <input id="search" type="text" class="searchbox" placeholder="Search here..." autocomplete="off" value=Search>
        -->
    <div id="search-form">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% from "_formhelpers.html" import render_field %}
        <form method=post>
            <dl>

                <p>
                    {{ render_field(form.search) }}
            </dl>
            <p>
        </form>
    </div>
</body>
</html>